body{
    background-color: rgb(28, 28, 61);
    color:white;
}

.section{
    background-color:hsla(194, 86%, 47%, 0.4);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
}

#colors{
    display:inline-block;
}

#colors p{
    text-align:center;
    display: inline-block;
    height:100px;
    width:300px;
    border-radius: 5px;
    margin:50px;
    padding-top:50px;
    font-size: large;
}

.cover{
    background-color:#654385;
    position:absolute;
    text-align:left;
    left:29px;
}

.cover:hover{
    background-color:transparent;
}